span{
    color: red;
    font-weight: bold;
}

#caja{
    background-color: aqua;
    width: 400px;
    height: 200px;
    text-align: justify;
    overflow: hidden; 
}

.hijo{
    /* metodo largo
    border-width: 1px;
    border-style: solid;
    border-color: blue; */
    border: 1px solid black;
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    background-color: orange;
}

#padre{
    display: flex;
    justify-content: center;
}